@use '../utils/typography';
@use '../utils/colors';

.appliances {
  padding: 0 10px;
  overflow: auto;
}

.appliance-input {
  label {
    text-align: center;
    display: block;
  }
  
  input {
    margin: 5px auto 8px;
    padding: 5px;
    display: block;
    background-color: white;
    border: 1px solid colors.$complementFaded;
  }
}

.question {
  margin: 10px;
}