.zip {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
  .zip-input {
    margin-top: 20px;
  }
  
  .map-container {
    flex-grow: 1;
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .map {
    height: 100%;
    width: 100%;
  }
}