extends ./../../templates/layout.pug

block head
    link(rel="stylesheet", href="css/about.css", attr)

block content
    .timeline
        .frame
            img(src="img/zhen.jpg" title="Zhen and his work vehicle" alt="Zhen and his work vehicle")
        .intro
            p
            |Hi, my name is Zhen. Firstly, thank you for considering Zhen's Appliance Service.
            |

