<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zhen's Appliance Service</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style id="tempStyle">
    * {
      transition: none !important;
    }
  </style>
  <script>
    window.onload = () => {tempStyle.remove()}
    </script>
  <link rel="stylesheet", href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" >
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/d310da2fd4.js" crossorigin="anonymous"></script>
  <style>
    /* CSS */
  </style>
  <script src="scripts/client.js" defer></script>
</head>
<body>
  <div id="app">
    <!-- App -->
  </div>
</body>
</html>