* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    font-size: 1.5em;
}
    
.content {
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.zhen-car {
    border-radius: 50%;
}

@media (min-width: 500px) {

}
