$primary: #FFAD4E;
$primary-glow: #FFC64A;

$complement: #6290F0;
$complementTint: #F4F7FE;
$complementFaded: #B8C2D8;
$complementGlow: #7EA5F6;

$fontLight: #161616;

$gray2: #4F4F4F;
$gray2Opacity: 69.01%;
$gray4: #BDBDBD;
$gray6: #F2F2F2;


$warning: rgb(228, 109, 109);