@use './utils/_typography';
@use './utils/_layout';

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: typography.$primaryfont;
}

main {
  width: layout.$pageWidth;
  margin: 0 auto;
}

.layout {
  height: 100vh;
}

.pages {
  height: calc(100% - #{layout.$bottomHeight});
}

.logo {
  height: 100%;
}
