@use './utils/_typography';
@use './utils/_layout';

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: typography.$primaryfont;
}

.layout {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  overflow: hidden;
  padding-top: layout.$topHeight;
  padding-bottom: layout.$bottomHeight;
}

.pages {
  height: 100%;
  overflow: auto;
  margin-bottom: layout.$bottomHeight;
}

.logo {
  height: 100%;
}
