@use './utils/layout';
@use './utils/_typography';

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  width: layout.$pageWidth;
  justify-content: space-between;
  height: layout.$topHeight;
  padding-top: 10px;
}

.navbar-logo {
  height: 100%;
}

.menu-button {
  font-size: typography.$H4;
}