@use './utils/layout';
@use './utils/_typography';
@use './utils/_colors';

.navbar {
  position: fixed;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: layout.$topHeight;
  padding: 10px 20px;
  border-bottom: 1px solid #CFCFCF;
}

.navbar-logo {
  height: 100%;
}

.menu-button {
  font-size: typography.$H4;
}