@use './utils/_colors';
@use './utils/_layout';

.questionnaire-container {
  position: absolute;
  border-radius: 40px 40px 0 0;
  background-color: rgba($color: colors.$complementTint, $alpha: 0.85);
  box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.100);
  height: min(800px, calc(100% - #{layout.$topHeight} - 10px));
  width: 100%;
  max-width: 800px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 350ms ease-out;
  transform: translateY(-1 * layout.$topHeight);
  z-index: 50;
  &::before {
    content: "";
    position: absolute;
    z-index: -95;
    filter: blur(5px);
  }
}

.questionnaire-active {
  transform: translateY(-100%);
}

.questionnaire {
  @import './questionnaire/field.scss';
  @import './questionnaire/appliances.scss';
  @import './questionnaire/zip.scss';
  @import './questionnaire/contactinfo.scss';
  @import './questionnaire/symptoms.scss';
  height: 100%;
  text-align: center;
  overflow: scroll;
  transition: 200ms;
  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  
  .questionnaire-top {
    height: layout.$bottomHeight;
    position: sticky;
    left: 0;
  }
  
  .form {
    height: calc(100% - #{layout.$bottomHeight});
    padding-top: 10px;
    display: flex;
    transition: 300ms;
  }
  
  .caret-container {
    margin: 0 auto;
    height: 30px;
    width: 40px;
    text-align: center;
  }
  
  .caret-container button {
    transition: 800ms;
    cursor: pointer;
  }
  
  .questionnaire-caret {
    height: 40px;
    width: auto !important;
    color: colors.$complementFaded;
    transition: 100ms;
  }

  .flipped {
    transform: scaleY(-1.0);
  }
  
  .questionnaire-caret:hover {
    transform: scale(1.15);
    color: colors.$complement;
  }
  
  .status-container {
    margin-top: 10px;
    width: 75%;
    display: inline-block;
    text-align: center;
  }
  
  .status-bar {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    .status-circle {
      cursor: pointer;
      box-sizing: content-box;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      box-shadow: 0 0 0px 1px colors.$complementFaded;
      background-color: #FFFFFF;
      z-index: 1;
    }
    
    .status-line {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: colors.$complementFaded;
      z-index: 0;
    }
    
    .status-circle-done {
      background-color: colors.$complement;
      box-shadow: 0 0 0px 1px colors.$complement;
    }
    
    .status-circle-current {
      box-shadow: 0 0 0px 3px colors.$complement;
    }
  }
}
