.service-map {
  height: 100%;
  width: 100%;
  padding: 10px;

  .title {
    text-align: center;
    margin: 20px 0;
  }

  .map-container {
    width: 90%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;
    margin: 10px auto;
  }

  .map {
    height: 100%;
    width: 100%;
  }
}
