.service-map {
  height: 100%;
  width: 100%;
  padding: 10px;

  .title {
    text-align: center;
  }

  .map-container {
    width: 90%;
    height: 80%;
    margin: 10px auto;
  }

  .map {
    height: 100%;
    width: 100%;
  }
}
