extends ../../templates/layout.pug

block head
    link(rel="stylesheet", href="css/contact.css")

block content
    .contact
        .contact-phone
            h4 Call or text us at <span class="phone-number">206-488-9778</span>
                
        .divider
            |or
        .contact-email
            p Leave a message
            form(class="email-form" method="POST")
                .form-name
                    label(for="name") Name: <br>
                    input(type="text" id="name" name="name")
                .form-email
                    label(for="email") Email: <br>
                    input(type="email" id="email" name="email")
                .form-zip
                    label(for="zip") Zip Code: <br>
                    input(type="number" id="zip" name="zip")
                .form-message
                    label(for="mmessage") Message: <br>
                    textarea(class="form-message-area" name="message", cols="30", rows="10")
                button.btn.btn-primary(id="submit") Send Message
    script(src="scripts/contact.js")
